<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">Faça seu login</div>
            <div class="card-body">

                <img src="~/icon-usuario.svg" class="img-thumbnail" />

                <form action="/Login/Entrar" method="post" onsubmit="return validar()">
                    <input placeholder="Digite um usuário" type="text" class="form-control mb-2 mt-3" name="usuario" id="usuario"/>
                    <input placeholder="Digite a senha" type="password" class="form-control mb-3" name="senha" />
                    <button type="submit" class="btn btn-success">Logar</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="#">Esqueceu a senha?</a>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>

<script>
    function validar() {
        if ($("#usuario").val() == "") {
            alert("Campo usuário não pode ficar vazio");
            $("#usuario").css("border", "2px solid #ff0000");
            return false;
        }
    }
</script>

