@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Login</h1>
    <br />
    <form>
        <input type="text" placeholder="User" style="margin-bottom: 10px" /><br />
        <input type="password" placeholder="Pass" /><br /><br />

        <button type="submit">Send</button>
    </form>
}
